/* Esto es la hoja de estilos del trabajo de sistemas */

body{
    background-color: black;
    font-size: calc(0.5em + 2vw);
    color: white;
    font-family: 'Aldrich', sans-serif;
}
header img{
    width: 100%;
    height: auto;
}
#r1{
    width: 85%;
    margin: 0 auto;
    position: relative;
}
#titulo {
    position: absolute;
    top: 10vw;
    left: 6.5vw;
    border-style: double;
    border-color: white;
    padding: 2vw;
    border-radius: 25px;
}

/* Estilo del nav */

#r2{
    font-size: 2.30vw;
    width: 100%;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: royalblue;
  }
li {
    float: left;
  }
li a {
    display: block;
    color: white;
    text-align: center;
    padding: 12px 14px;
    text-decoration: none;
  }
li a:hover {
    background-color: blue;
}

/* Estilos main */

main{
    font-size: 2.30vw;
    width: 100%;
}
#izquierda{
    float: left;
    padding-right: 10px;
}
#fin-float{
    clear: both;
}
main img{
    width: 40%;
    height: auto;
}
main p{
    text-align: justify;
}

/* Estilo footer */

footer{
    color: white;
    background-color: blueviolet ;
    font-size: 0.8em;
    text-align: center;
    font-weight: bold;
    padding: 2px;
}
.fa {
    font-size: 20px;
    width: 20px;
    text-align: center;
    text-decoration: none;
    margin: 2px;
  }
.fa-tumblr {
    background: #2c4762;
    color: white;
}